.main{
	width: 100vw;
	height: 100%;
    background-color: #eeeeee;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.logout{
	text-align: right;
}
.topBar{
	margin: 4vw;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.topBar div{
	color: white;
	font-size: 14px;
	flex-grow: 1;
	vertical-align: middle;
}
.topBar .titleTxt{
	flex-grow: 1;
	text-align: center;
}
.topBar div img{
	transform:rotate(180deg);
	width: 4.2667vw;
	height: 4.2667vw;
}
.topBar div span{
	font-size: 4.267vw;
}
.topCon{
	width: 100vw;
	height:48vw;
}
.topCon{
	width: 100vw;
	height:48vw;
	background-image: url('http://youshi-1253746847.cosgz.myqcloud.com/otherHome/background.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.topCon .photo{
	width: 40vw;
	position: absolute;
	top:38vw;
	left:30vw;
	text-align: center;

}
.topCon .photo>img{
	width:20vw;
	height: 20vw;
}
.topCon .photo p{
	text-align: center;
	font-size: 18px;
}
.middleCon{
	background-color: rgb(255,255,255);
	padding-top: 22.8vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding-bottom: 1.333vw;
	margin-bottom: 2.67vw;
}
.middleCon div{
	display: flex;
	flex-direction: row;
	margin-bottom:2.67vw;
	margin-left: 2vw;
	height: 4.267vw;
} 

.middleCon div div img{
	width:4.267vw;
	height: 4.267vw;
}
.middleCon div div{
	margin-left: 2vw;
}
.middleCon div p{
	margin-left: 2vw;
	font-size: 14px;
}
.bottomCon{
	display: flex;
	flex-direction: column;
	background-color:rgb(255,255,255); 
	padding: 4vw;
}
.bottomCon div div img{
	width: 7.2vw;
	height: 7.2vw;
}
.bottomCon div{
	height: 11.733vw;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.bottomCon div .nav img{
	width: 4.2667vw;
	height: 4.2667vw;
}
.titleTxt{
	flex-grow: 1;
	margin-left: 4vw; 
}
input{
	padding:1vw;
	width: 20vw;
	text-align: center;
	font-size:18px;
	height:20px;
	border:0px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="text"]:focus{
  border:1px solid #ff7496;
}
.edit{
	width:3vw;
	height:3vw;
	position: absolute;
	right: 8vw;
	bottom:10vw;
}
.edit img{
	width:3vw;
	height:3vw;

}